<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="../css/styles.css" media="screen" title="no title">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ek+Mukta" media="screen" title="no title">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <body>
    <div id="productPage">
      <div class="container">
        <div class="menuWrap">
            <div class="phoneTop">
             <i class="fa fa-phone"></i>
                <div class="callUs">
                  <span>(+260)-971 434227</span>
                  <span class="arrow">&#9660;</span>
                </div>
           <div class="clearfix">
           </div>
          </div>
        <nav class="menu">
            <ul class="clearfix">
              <li><a href="/" title="Home">Home</a></li>
              <li><a href="../about-us/" title="About Us">About Us</a></li>
              <li><a href="./" title="Products">Products <span class="arrow">&#9660;</span></a>
                <ul class="subMenu">
                  <li><a href="#">Laptops</a></li>
                  <li><a href="#">Desktops</a></li>
                  <li><a href="#">Antivirus</a></li>
                </ul>
              </li>
              <li><a href="../financing/">Financing Options</a></li>
              <li><a href="../downloads/">Downloads</a></li>
              <li><a href="../contact/">Contact Us</a></li>
            </ul>
            <div class="infoSidebar clearfix">
              <div class="logo"><a href="/"></a></div>
              <div class="clear">

              </div>
              <img class="logoText" src="../images/logotext.png" alt="SKT" />
            <!--  <div class="logoText"><a href="/"></a></div>-->

            </div>
          </nav>
      </div>
     <div class="clearfix"></div>
      <div class="pageContainer clearfix">
        <div class="intro">
          <h1 class="productHeader">Contact us</h1>
        </div>
        <div class="contactContainer clearfix">
          <div class="contactBorder">
            <h2>
              Contact our sales development and online marketing team
            </h2>
            <p>
               Haven’t found the Laptop yo are looking for? We are always eager to answer any questions
               you may have about pc financing. Whether you’re looking for to own a PC for the first time or
               some keen computer insights, we’ll be happy to help you with your problems.
               Get in touch today and let's meet up for some (great) coffee.
            </p>
            <h3>Our PC Financing Headquarters</h3>
             <p>
               <strong>Address:</strong>Plot 1484 &#124 102,103 Provident House,Umodzi Highway,Chipata.</br>
               <strong>Phone:</strong> +260 216 223816 </br>
               <strong>email:</strong> silverkeycomputers@gmail.com
             </p>
            </div>
           <div class="contactBorder">
              <img src="../images/map_contact.png" alt="Silverkey Map" />
           </div>
        </div>

       </div>
    </div> <!--/PAGEINFO -FinancingInfo-->
      <div class="googlemapContainer clearfix">
        <div class="sktGmap">

        </div>
      </div>

        <footer class="mainFooter">
          <div class="footerContent">
            <div class="footerMsg">
              <h3 class="footerContact">Get in touch</h3>
              <ul>
                <li><i class="fa fa-phone"></i>&nbsp +260 216 223816</li>
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp Plot 1484 &#124 102,103 Provident House,Umodzi Highway,Chipata.</li>
                <li><i class="fa fa-envelope-o"></i> &nbsp info@sktcomputers.com</li>
              </ul>
            </div>
            <div class="footerMsg">
              <h3>About Us</h3>
              <ul>
                <li>The Genuine Factor</li>
                <li>The SKT Team</li>
                <li>FAQ's</li>
              </ul>
            </div>
            <div class="footerMsg">
              <h3>Products</h3>
              <ul>
                <li>Laptops</li>
                <li>Desktops</li>
                <li>Antivirus</li>
              </ul>
            </div>
            <div class="clearfix">

            </div>
            <p>
              &copy 2016 Silverkey Technologies Ltd.&nbsp All rights Reserved.
            </p>
            <p class ="social">

            </p>
          </div>
        </footer>
        </div>
      </div>
  </body>
</html>
