<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Financing Options</title>
    <link rel="stylesheet" href="../stylesheets/styles.css" media="screen" title="no title">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ek+Mukta" media="screen" title="no title">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <body>
    <div id="productPage">
      <div class="container">
        <div class="menuWrap">
            <div class="phoneTop">
             <i class="fa fa-phone"></i>
                <div class="callUs">
                  <span>(+260)-971 434227</span>
                  <span class="arrow">&#9660;</span>
                </div>
           <div class="clearfix">
           </div>
          </div>
        <nav class="menu">
            <ul class="clearfix">
              <li><a href="/" title="Home">Home</a></li>
              <li><a href="../about-us/" title="About Us">About Us</a></li>
              <li><a href="./" title="Products">Products <span class="arrow">&#9660;</span></a>
                <ul class="subMenu">
                  <li><a href="#">Laptops</a></li>
                  <li><a href="#">Desktops</a></li>
                  <li><a href="#">Antivirus</a></li>
                </ul>
              </li>
              <li><a href="../financing/">Financing Options</a></li>
              <li><a href="../downloads/">Downloads</a></li>
              <li><a href="../contact/">Contact Us</a></li>
            </ul>
            <div class="infoSidebar clearfix">
              <div class="logo"><a href="/"></a></div>
              <div class="clear">

              </div>
              <img class="logoText" src="../images/logotext.png" alt="SKT" />
            <!--  <div class="logoText"><a href="/"></a></div>-->

            </div>
          </nav>
      </div>
     <div class="clearfix"></div>
    <div class="pageContent clearfix">
      <div class="contentGrid">
        <div class="intro">
            <h3 class="pageHeader">Choose 0% interest financing options for your PC Purchase.</h3>
            <p>
              Finance PC's, software, accessories and more for your yourself and </br>
              choose from convenient payment options to suit your budget.
            </p>
        </div>
        <div class="options">
            <div class="cell">
              <h3>4 Month Plan &ast;</h3>
              <p>
                With the 4 month plan, you can choose a laptop to fit your budget.
                At the end of the 4 months, you own your laptop. </br> Minimum initial investment is K 1,800.</p>
            </div>
            <div class="cell">
              <h3>6 Month Plan &ast;</h3>
              <p>
                With the 6 month plan, you get a laptop at 0% interest rate on payments.
                At the end of the 6 months, you own your laptop. </br>Minimum initial investment is K 2,500.
              </p>
            </div>
          </div>
        <img class="hero" src="../images/hp_fin_3.png" alt="Acer Aspire e15" />
        <div class="clearfix">

        </div>

        <div class="contact">
          <p class="digits clearfix">
             <span>Call 0216-223816 &nbsp &#124 &nbsp 0971434227</span>
          </p>
        </div>


      </div>
      <div class="footnotes">
       Important: This information is for promotional purposes. This is not a commitment to finance.
       Financing is subject to credit approval by Silverkey and the completion of necessary documentation.
       This does not constitute tax, accounting, financial or legal advice. Promotion may not be combined with other offers.
       Contact Silverkey for details on the financing options. Antivirus orders not eligible for financing.
      </div>
    </div>
  </div>


  </div> <!--/PAGEINFO -FinancingInfo-->
      <div class="googlemapContainer clearfix">
        <div class="sktGmap">

        </div>
      </div>

        <footer class="mainFooter">
          <div class="footerContent">
            <div class="footerMsg">
              <h3 class="footerContact">Get in touch</h3>
              <ul>
                <li><i class="fa fa-phone"></i>&nbsp +260 216 223816</li>
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp Plot 1484 &#124 102,103 Provident House,Umodzi Highway,Chipata.</li>
                <li><i class="fa fa-envelope-o"></i> &nbsp info@sktcomputers.com</li>
              </ul>
            </div>
            <div class="footerMsg">
              <h3>About Us</h3>
              <ul>
                <li>The Genuine Factor</li>
                <li>The SKT Team</li>
                <li>FAQ's</li>
              </ul>
            </div>
            <div class="footerMsg">
              <h3>Products</h3>
              <ul>
                <li>Laptops</li>
                <li>Desktops</li>
                <li>Antivirus</li>
              </ul>
            </div>
            <div class="clearfix">

            </div>
            <p>
              &copy 2016 Silverkey Technologies Ltd.&nbsp All rights Reserved.
            </p>
            <p class ="social">

            </p>
          </div>
        </footer>
      </div>
    </div>

  </body>
</html>
