<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Silverkey Technologies -reliable technology reliable financing passionate innovation</title>
    <link rel="stylesheet" href="css/styles.css" media="screen" title="no title">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ek+Mukta" media="screen" title="no title">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <body id="main">
    <div id="wrap">
      <div class="container">
        <div id="mainMenuWrap">
           <div class="phoneTop">
                <!--<span class="highlight">Call Us Today<i class="fa fa-phone"> &#9743; (+260)-216-223816&nbsp;&nbsp; &#124; &nbsp;&nbsp;(+260)-971 434227</span>-->
                <i class="fa fa-phone"></i>
                <div class="callUs">
                  <span>(+260)-971 434227</span>
                  <span class="arrow">&#9660;</span>
                  <!--<ul>
                    <li><i class="fa fa-phone"></i>&nbsp +260 216 223816</li>
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp Plot 1484 &#124 102,103 Provident House,Umodzi Highway,Chipata.</li>
                    <li><i class="fa fa-envelope-o"></i> &nbsp info@sktcomputers.com</li>
                  </ul>-->
                </div>
                <div class="clearfix">

                </div>
          </div>

          <nav class="menu">
              <ul class="clearfix">
                <li><a href="./" title="Home">Home</a></li>
                <li><a href="about-us/" title="About Us">About Us</a></li>
                <li><a href="products/" title="Products">Products <span class="arrow">&#9660;</span></a>
                  <ul class="subMenu">
                    <li><a href="#">Laptops</a></li>
                    <li><a href="#">Desktops</a></li>
                    <li><a href="#">Antivirus</a></li>
                  </ul>
                </li>
                <li><a href="financing/">Financing Options</a></li>
                <li><a href="downloads/">Downloads</a></li>
                <li><a href="contact/">Contact Us</a></li>
              </ul>
          </nav>
        </div>

        <div class="promoBanner">
          <div class="anythingSlider">
            <!--<img src="images/pc_freedom.jpg" alt="Promo" />-->
            <div class="promoSizer">
                <h1>The most trusted PC Financing team in EP</h1>
                <p>Get reliable,original computers that will not dissapoint you</p>

              <button class="compareProds" type="button">Compare Featured Products</button><br>

              </br>
                <button class="financeOpts" type="button">Financing Options</button>
            </div>
          </div>
        </div><!--/PROMOBANNER-->
        <div class="infoSidebar clearfix">
            <div class="logo"><a href="/"></a></div>
            <div class="clear">

            </div>
            <img class="logoText" src="images/logotext.png" alt="SKT" />
          <!--  <div class="logoText"><a href="/"></a></div>-->

        </div>
      <div class="productContent">

          <div class="featProducts">
            <h2 id="featuredProducts">Featured Products</h2>
            <div class="clear">

            </div>
            <div class="product">
              <h3>Student</h3>
              <img class = "productPics" src="images/lenovo_ideapad.png" alt="Student Plan" />
              <h4>2GB RAM 500GB HDD DVD RW Windows 10 2.0 GHz Intel Processor</h4>
              <h4>Monthly Plan </br><span>from K1,150/ 3 Months&ast;</span> </br>
                </h4>
            </div>
            <div class="product">
              <h3>Home</h3>
              <img class = "productPics" src="images/hp_217x163.png" alt="Home Plan" />
              <h4>4GB RAM 500GB HDD DVD RW Windows 10 2.4 GHz Intel QuadCore Processor</h4>
              <h4>Monthly Plan </br><span>from K1,260/ 3 Months&ast;</span> </br>
              </h4>
            </div>
            <div class="product">
              <h3>Business</h3>
              <img class = "productPics" src="images/apple_mac_324x163.png" alt="Home Plan" />
              <h4>You know your business well. And we have a deep understanding of our products. Together we can create a custom plan for your company </h4>
            </div>
            <div class="product">
              <h3>Antivirus</h3>
              <img class = "antivirusPics" src="images/picAvast.png" alt="Home Plan" />
              <img class = "antivirusPics" src="images/picKaspersky.png" alt="Home Plan" />
              <h4>Protect your PC for as low as <span> K 200! </span></h4>
            </div>

          </div>
      </div> <!--/CONTENT--->
      <div class="productValue">
        <h3>Great Value With Every Plan !</h3>
        <div class="valueContent">
          <div class="valueItem">
            <h3>Free Software Installations</h3>
            <p>
              From the Operating System to media applications, we've got you covered.
            </p>
          </div>
          <div class="valueItem">
            <h3>Free PC education </h3>
            <p>
               Owning a PC for the first time can be intimidating. We help you have a comfortable,pain-free experience.
            </p>
          </div>
          <div class="valueItem">
            <h3>15-Day Money-Back Guarantee</h3>
            <p>
              If you are not completely satisified,simply cancel within 15 Days for a full refund.
            </p>
          </div>
          <div class="valueItem">
            <h3>At Least One Year Guarantee on Every Product</h3>
            <p>
              We dont want you worrying about your purchase.We offer you our own guarantee along with the manufacturers.
            </p>
          </div>
          <div class="valueItem">
            <h3>24/7/365 Technical Support</h3>
            <p>
              We are always here to assist via email, chat and telephone!
            </p>
          </div>

          <div class="valueItem">
            <h3>Huge Saving on any Plan</h3>
            <p>
               A Silverkey payment plan is a great way for you to save money allowing you the flexibility to invest in other worthwhile ventures too while using our plan.
            </p>
          </div>
        </div><!--PRODUCTVALUE-->

      </div>
      <div class="whoSkt">
            <div class="sktMsg">
              <h2>Who Are We?</h2>
              <p>
                Established in 2012, the Silverkey team rests on a foundation of passionate PC financing and innovation.</br>
                We have helped over 250 Professionals,Students and Households invest in quality PC's. Our clients are spread out all over Zambia and including Australia and Zimbabwe. </br>
                We love what we do and above everything else, we love our clients.
                <a href="/about-us/overview">Read more...</a>
              </p>
            </div>
      </div>
      <div class="googlemapContainer">
        <div class="sktGmap">

        </div>
      </div>

        <footer class="mainFooter">
          <div class="footerContent">
            <div class="footerMsg">
              <h3 class="footerContact">Get in touch</h3>
              <ul>
                <li><i class="fa fa-phone"></i>&nbsp +260 216 223816</li>
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp Plot 1484 &#124 102,103 Provident House,Umodzi Highway,Chipata.</li>
                <li><i class="fa fa-envelope-o"></i> &nbsp info@sktcomputers.com</li>
              </ul>
            </div>
            <div class="footerMsg">
              <h3>About Us</h3>
              <ul>
                <li>The Genuine Factor</li>
                <li>The SKT Team</li>
                <li>FAQ's</li>
              </ul>
            </div>
            <div class="footerMsg">
              <h3>Products</h3>
              <ul>
                <li>Laptops</li>
                <li>Desktops</li>
                <li>Antivirus</li>
              </ul>
            </div>
            <div class="clearfix">

            </div>
            <p>
              &copy 2016 Silverkey Technologies Ltd.&nbsp All rights Reserved.
            </p>
            <p class ="social">

            </p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
