<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Products</title>
    <link rel="stylesheet" href="../stylesheets/styles.css" media="screen" title="no title">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ek+Mukta" media="screen" title="no title">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <body>
    <div id="productPage">
      <div class="container">
        <div class="menuWrap">
            <div class="phoneTop">
             <i class="fa fa-phone"></i>
                <div class="callUs">
                  <span>(+260)-971 434227</span>
                  <span class="arrow">&#9660;</span>
                </div>
           <div class="clearfix">
           </div>
          </div>
        <nav class="menu">
            <ul class="clearfix">
              <li><a href="/" title="Home">Home</a></li>
              <li><a href="../about-us/" title="About Us">About Us</a></li>
              <li><a href="./" title="Products">Products <span class="arrow">&#9660;</span></a>
                <ul class="subMenu">
                  <li><a href="#">Laptops</a></li>
                  <li><a href="#">Desktops</a></li>
                  <li><a href="#">Antivirus</a></li>
                </ul>
              </li>
              <li><a href="../financing/">Financing Options</a></li>
              <li><a href="../downloads/">Downloads</a></li>
              <li><a href="../contact/">Contact Us</a></li>
            </ul>
            <div class="infoSidebar clearfix">
              <div class="logo"><a href="/"></a></div>
              <div class="clear">

              </div>
              <img class="logoText" src="../images/logotext.png" alt="SKT" />
            <!--  <div class="logoText"><a href="/"></a></div>-->

            </div>
          </nav>
      </div>
    <div class="clearfix"></div>
    <div class="allProducts clearfix">
          <h3 class="productHeader">Compare Laptop Categories</h3>
          <div class="productType"> <!--Student Laptops-->
             <h3 class= "laptopCategory">Student Laptops</h3>
              <div class="laptopDisplay">
                <img src="../images/Acer-es-15.png" alt="Acer Aspire ES" />
                <h4 class="productName">Acer Aspire ES 16</h4>
                <h4 class="price">from K 1,170 / 3 Months &ast;</h4>
                <h3 class="newStock">New!</h3>
                <ul>
                  <li>15.6-inch Acer CineCrystal LED LCD</li>
                  <li>Intel Pentium Quad Core Processor</li>
                  <li>Intel HD graphics</li>
                  <li>DVD Super Multi DL Drive</li>
                  <li>2GB RAM</li>
                  <li>500 GB Harddrive</li>
                  <li>Windows 10</li>
                </ul>
              </div>
              <div class="laptopDisplay">
                <img src="../images/HP-250_310x217.png" alt="HP_250" />
                <h4 class="productName">HP 250 G5</h4>
                <h4 class="price">from K 1,250 / 3 Months &ast;</h4>
                <ul>
                  <li>15.6-inch LED</li>
                  <li>Intel Celeron Processor N3060</li>
                  <li>Intel HD graphics 405</li>
                  <li>Multi DVD Burner</li>
                  <li>2GB RAM</li>
                  <li>500 GB Harddrive</li>
                  <li>Windows 10</li>
                </ul>
              </div>
              <div class="laptopDisplay">
                <img src="../images/lenovo_310x188.png" alt="Lenovo Ideapad" style="margin: 22px 0px 0px 0px;" /><!--style="margin: 20px 0px 0px 0px;-->
                <h4 class="productName">Lenovo  Ideapad 100</h4>
                <h4 class="price">from K 1,180 / 3 Months &ast;</h4>
                <ul>
                  <li>15.6-inch Acer CineCrystal LED LCD</li>
                  <li>Intel Celeron Dual Core</li>
                  <li>Intel Integrated graphics</li>
                  <li>DVD Super Multi DL Drive</li>
                  <li>2GB RAM</li>
                  <li>500 GB Harddrive</li>
                  <li>Windows 10</li>
                </ul>
              </div>

          </div><!--Student Laptops-->

          <div class="productType"><!--Home Laptops-->
            <h3 class= "laptopCategory">Home Laptops</h3>
              <div class="laptopDisplay">
                <img src="../images/asus_310x222.png" alt="Asus Vivo" />
                <h4 class="productName">Asus</h4>
                <h4 class="price">from K 1,170 / 3 Months &ast;</h4>
                <h3 class="newStock">New!</h3>
                <ul>
                  <li>15.6-inch Asus HD Screen</li>
                  <li>Intel Quad Core Pentium N3700 Processor</li>
                  <li>Intel HD graphics</li>
                  <li>DVD Super Multi DVD Drive</li>
                  <li>4GB RAM</li>
                  <li>500 GB Harddrive</li>
                  <li>Windows 10 home</li>
                </ul>
              </div>
              <div class="laptopDisplay">
                <img src="../images/Dell_310x206.png" alt="Lenovo Ideapad" style="margin: 6px 0px 0px 0px;" />
                <h4 class="productName">Dell Inspiron 5558</h4>
                <h4 class="price">from K 1,170 / 3 Months &ast;</h4>
                <ul>
                  <li>15.6 Widescreen LED-Backlit Touchscreen</li>
                  <li> Intel Core i3-4010U 4th Generation</li>
                  <li> Intel HD Graphics 4400</li>
                  <li>DVD Super Multi DVD Burner</li>
                  <li>6GB RAM</li>
                  <li>500 GB Harddrive</li>
                  <li>Windows 10</li>
                </ul>

              </div>
              <div class="laptopDisplay">
                <img src="../images/hp_home_310x249.png" alt="Lenovo Ideapad" style="margin: 1px 0px 0px 0px;"/>
                <h4 class="productName">HP 15-g029</h4>
                <h4 class="price">from K 1,170 / 3 Months &ast;</h4>
                <ul>
                  <li>15.6" LED Backlit Display</li>
                  <li>Intel Celeron N3050 Processor</li>
                  <li>Intel HD graphics</li>
                  <li>DVD Super Multi DL Drive</li>
                  <li>4GB RAM</li>
                  <li>500 GB Harddrive</li>
                  <li>Windows 8.1</li>
                </ul>

              </div>

          </div> <!--/HOME LAPTOPS-->
          <div class="productType"><!--Business Laptops-->
            <h3 class= "laptopCategory">Business Laptops</h3>
            <div class="laptopDisplay">
              <img src="../images/dell_touch_300x267.png" alt="Dell Inspiron" />
              <h4 class="productName">Dell i5558</h4>
              <h4 class="price">from K 1,170 / 3 Months &ast;</h4>
              <ul>
                <li>15.6" LED Backlit Display</li>
                <li>Intel Core i3-4030U Processor</li>
                <li>Integrated Graphics</li>
                <li>DVD Super Multi DL Drive</li>
                <li>6 GB RAM</li>
                <li>1 TB Harddrive</li>
                <li>Windows 10</li>
              </ul>
            </div>
            <div class="laptopDisplay">
              <img src="../images/hp_envy_310x252.png" alt="HP Envy" />
              <h4 class="productName">HP Envy</h4>
              <h4 class="price">from K 1,170 / 3 Months &ast;</h4>
              <ul>
                <li>15.6" Touchscreen Display</li>
                <li>Intel Core i7-6500U with Turboboost</li>
                <li>Dedicated Graphics</li>
                <li>DVD Super Multi DL Drive</li>
                <li>8 GB RAM</li>
                <li>1 TB Harddrive</li>
                <li>Windows 10</li>
              </ul>

            </div>
            <div class="laptopDisplay">
              <img src="../images/hp_pavillion_310x245.png" alt="HP Pavillion" />
              <h4 class="productName">HP Pavillion 17</h4>
              <h4 class="price">from K 1,170 / 3 Months &ast;</h4>
              <ul class="productStyle">
                <li>17.3" HD BrightView LED-backlit</li>
                <li>AMD Quad-Core A8-6410 APU</li>
                <li>AMD Radeon R5 graphics</li>
                <li>SuperMulti DVD burner</li>
                <li>6GB RAM</li>
                <li>1 TB Harddrive</li>
                <li>Windows 8.1</li>
              </ul>

            </div>
          </div> <!--/BUSINESS LAPTOPS-->

          <div class="antivirusDisplay"><!--Antivirus-->
              <h3 class= "laptopCategory">Security that will not slow your PC down</h3>
              <div class="antivirusCategory">
                <div class="antivirusProduct">
                  <img src="../images/kasperskyproduct.png" alt="Kaspersky Antivirus" />
                  <h4 class="productName">Kaspersky</h4>
                  <h4 class="price">from K 200 </h4>
                  <ul class="productStyle">
                    <li>Excellent virus prevention</li>
                    <li>Renowned team of security/virus researchers</li>
                    <li>Top Rated Security</li>
                  </ul>

                </div>
                <div class="antivirusProduct">
                  <img src="../images/avastproduct.png" alt="Avast Antivirus" />
                  <h4 class="productName">Avast</h4>
                  <h4 class="price">from K 150 </h4>
                  <ul class="productStyle">
                    <li>Easy to use design</li>
                    <li>Great antivirus protection</li>
                    <li>Very Light Antivirus</li>
                  </ul>
                </div>
                <div class="antivirusProduct">
                  <img src="../images/mcafeeproduct.png" alt="McAfee Antivirus" />
                  <h4 class="productName">McAfee</h4>
                  <h4 class="price">from K 180 </h4>
                  <ul class="productStyle">
                    <li>One Subscription Unlimited Devices</li>
                    <li>Built-in Firewall</li>
                    <li>Top Rated Online Security</li>
                  </ul>
                </div>
              </div>

          </div><!--ANTIVIRUS-->
        </div> <!--ALLPRODUCTS-->
      <div class="googlemapContainer clearfix">
        <div class="sktGmap">

        </div>
      </div>

        <footer class="mainFooter">
          <div class="footerContent">
            <div class="footerMsg">
              <h3 class="footerContact">Get in touch</h3>
              <ul>
                <li><i class="fa fa-phone"></i>&nbsp +260 216 223816</li>
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp Plot 1484 &#124 102,103 Provident House,Umodzi Highway,Chipata.</li>
                <li><i class="fa fa-envelope-o"></i> &nbsp info@sktcomputers.com</li>
              </ul>
            </div>
            <div class="footerMsg">
              <h3>About Us</h3>
              <ul>
                <li>The Genuine Factor</li>
                <li>The SKT Team</li>
                <li>FAQ's</li>
              </ul>
            </div>
            <div class="footerMsg">
              <h3>Products</h3>
              <ul>
                <li>Laptops</li>
                <li>Desktops</li>
                <li>Antivirus</li>
              </ul>
            </div>
            <div class="clearfix">

            </div>
            <p>
              &copy 2016 Silverkey Technologies Ltd.&nbsp All rights Reserved.
            </p>
            <p class ="social">

            </p>
          </div>
        </footer>
      </div>
    </div>

  </body>
</html>
